<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>我的购物车</title>
	<!--网页标题左侧显示-->
    <link rel="icon" href="img/assets/favicon.ico" type="image/x-icon">
    <!--收藏夹显示图标-->
    <link rel="shortcut icon" href="img/assets/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="css/webbase.css" />
    <link rel="stylesheet" type="text/css" href="css/pages-cart.css" />
    
    <script type="text/javascript" src="plugins/angularjs/angular.min.js">  </script>
    <script type="text/javascript" src="js/base.js">  </script>
 	<script type="text/javascript" src="js/service/areasService.js">  </script>
  	<script type="text/javascript" src="js/service/citiesService.js">  </script>
    <script type="text/javascript" src="js/service/provincesService.js">  </script>
    <script type="text/javascript" src="js/service/addressService.js">  </script>
    <script type="text/javascript" src="js/service/itemService.js">  </script>
    <script type="text/javascript" src="js/service/cartService.js">  </script>
    <script type="text/javascript" src="js/controller/cartController.js">  </script>
</head>

<body  ng-app="pinyougou" ng-controller="cartController" ng-init="loadCart();showName()">
	<!--head-->
	<div class="top">
		<div class="py-container">
			<div class="shortcut">
					<ul class="fl">
						<li class="f-item" ng-if="loginName!=''">尊敬的用户<span  style="color:red;">&nbsp;&nbsp;&nbsp;{{loginName}}&nbsp;</span>，品优购欢迎您！</li>
						<li class="f-item" >欢迎进入品优购主页！<span ng-if="loginName==''">请<a href="login.html" target="_blank" >登录</a>　<a href="register.html" target="_blank">免费注册</a></span></li>
					</ul>
					<ul class="fr">
						<li class="f-item"><a href="getOrderInfo.html">我的订单</a></li>
						<li class="f-item space"></li>
						<li class="f-item"><a href="home-index.html" target="_blank">我的品优购</a></li>
						<li class="f-item space"></li>
						<li class="f-item">品优购会员</li>
						<li class="f-item space"></li>
						<li class="f-item" ng-if="loginName!=''">
						<a href="http://localhost:8810/cas/logout?service=http://localhost:8888/SSM-pinyougou/web/index.html" style="color:red;">
							退出
						</a>
						
						
						</li>
						<li class="f-item space"></li>
						<li class="f-item">关注品优购</li>
						<li class="f-item space"></li>
						<li class="f-item" id="service">
							<span>客户服务</span>
							<ul class="service">
								<li><a href="#" target="_blank">合作招商</a></li>
								<li><a href="../shop_web/shoplogin.html" target="_blank">商家后台</a></li>
								<li><a href="#" target="_blank">合作招商</a></li>
								<li><a href="../manager-admin/login.html">后台管理</a></li>
							</ul>
						</li>
						<li class="f-item space"></li>
						<li class="f-item"><a href="index.html">网站首页</a></li>
					</ul>
			</div>
		</div>
	</div>
	<div class="cart py-container">
		<!--logoArea-->
		<div class="logoArea">
			<div class="fl logo"><span class="title">购物车</span></div>
			<div class="fr search">
				<form class="sui-form form-inline">
					<div class="input-append">
						<input type="text" type="text" class="input-error input-xxlarge" placeholder="品优购自营" />
						<button class="sui-btn btn-xlarge btn-danger" type="button">搜索</button>
					</div>
				</form>
			</div>
		</div>
		<!--All goods-->
		<div class="allgoods">
			<h4>全部商品<span>welcome to cart!</span></h4>
			<div class="cart-main">
				<div class="yui3-g cart-th">
					<div class="yui3-u-1-4"><input type="checkbox" ng-checked="allCheckboxs=='all'" ng-click="selectItem($event,cartList,'all','')" /> 全部</div>
					<div class="yui3-u-1-4">商品</div>
					<div class="yui3-u-1-8">单价（元）</div>
					<div class="yui3-u-1-8">数量</div>
					<div class="yui3-u-1-8">小计（元）</div>
					<div class="yui3-u-1-8">操作</div>
				</div>
				<div class="cart-item-list" ng-repeat="cart in cartList">
					<div class="cart-shop">
						<input type="checkbox"  ng-checked="allCheckboxs=='cart'||allCheckboxs=='all'"  ng-click="selectItem($event,cart,'cart','')"/>
						<span class="shopname">{{cart.sellerName}}:{{cart.sellerId}}</span>
					</div>
					<div class="cart-body">
						<div class="cart-list" ng-repeat="item in cart.orderItemList">
							<ul class="goods-list yui3-g">
								<li class="yui3-u-1-24">
									<input type="checkbox"  ng-checked="allCheckboxs=='all'||allCheckboxs=='item'||allCheckboxs=='cart'||allCheckboxs=='delete'" ng-model="item.itemId" ng-click="selectItem($event,cart,'item',item)"/>
								</li>
								<li class="yui3-u-11-24">
									<div class="good-item">
										<div class="item-img">
											<img src="{{item.picPath}}" ng-if="item.picPath.index('../../')!=0" width="150px" height="150px"/>
											<img src="{{supperPath+item.picPath.replace('../../','../')}}" ng-if="item.picPath!=null||item.picPath.index('../../')==0"/>
											
										</div>
										<div class="item-msg">{{item.title}}</div>
									</div>
								</li>
								<li class="yui3-u-1-8"><span class="price">{{item.price}}</span></li>
								<li class="yui3-u-1-8">
									<a href="javascript:void(0)" class="increment mins" ng-click="addGoodsToCartList(item.itemId,-1)">-</a>
									<input autocomplete="off" type="text" value="{{item.num}}" minnum="1" class="itxt" ng-model="item.num"/>
									<a href="javascript:void(0)" class="increment plus" ng-click="addGoodsToCartList(item.itemId,+1)">+</a>
								</li>
								<li class="yui3-u-1-8"><span class="sum">{{item.totalFee}}</span></li>
								<li class="yui3-u-1-8">
									<a href="#none" ng-click="addGoodsToCartList(item.itemId,-item.num)">删除</a><br />
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="cart-tool">
				<div class="select-all">
					<input type="checkbox" ng-checked="allCheckboxs=='delete'"  ng-click="SelectionCart($event,cart,'delete')" />
					<span>全选</span>
				</div>
				<div class="option">
					<a href="#none" ng-click="deleteCartItem()">删除选中的商品</a>
				</div>
				<div class="toolbar">
					<div class="chosed">已选择<span>{{totalmap.totalNum}}</span>件商品</div>
					<div class="sumprice">
						<span><em>总价（不含运费） ：</em><i class="summoney">￥{{totalmap.totalFee}}</i></span>
						<span><em>已节省：</em><i>-¥20.00</i></span>
					</div>
					<div class="sumbtn">
						<a class="sum-btn" href="getOrderInfo.html" target="_blank">结算</a>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>

			
		</div>
	</div>
	<!-- 底部栏位 -->
	<!--页面底部-->
<div class="clearfix footer">
	<div class="py-container">
		<div class="footlink">
			<div class="Mod-service">
				<ul class="Mod-Service-list">
					<li class="grid-service-item intro  intro1">

						<i class="serivce-item fl"></i>
						<div class="service-text">
							<h4>正品保障</h4>
							<p>正品保障，提供发票</p>
						</div>

					</li>
					<li class="grid-service-item  intro intro2">

						<i class="serivce-item fl"></i>
						<div class="service-text">
							<h4>正品保障</h4>
							<p>正品保障，提供发票</p>
						</div>

					</li>
					<li class="grid-service-item intro  intro3">

						<i class="serivce-item fl"></i>
						<div class="service-text">
							<h4>正品保障</h4>
							<p>正品保障，提供发票</p>
						</div>

					</li>
					<li class="grid-service-item  intro intro4">

						<i class="serivce-item fl"></i>
						<div class="service-text">
							<h4>正品保障</h4>
							<p>正品保障，提供发票</p>
						</div>

					</li>
					<li class="grid-service-item intro intro5">

						<i class="serivce-item fl"></i>
						<div class="service-text">
							<h4>正品保障</h4>
							<p>正品保障，提供发票</p>
						</div>

					</li>
				</ul>
			</div>

			<div class="Mod-copyright">
				<ul class="helpLink">
					<li>关于我们<span class="space"></span></li>
					<li>联系我们<span class="space"></span></li>
					<li>关于我们<span class="space"></span></li>
					<li>商家入驻<span class="space"></span></li>
					<li>营销中心<span class="space"></span></li>
					<li>友情链接<span class="space"></span></li>
					<li>关于我们<span class="space"></span></li>
					<li>营销中心<span class="space"></span></li>
					<li>友情链接<span class="space"></span></li>
					<li>关于我们</li>
				</ul>
				<p>地址：贵州省贵阳市花溪区唐人街26号楼12层404 邮编：541100 电话：666-888-3838 传真：010-203344120</p>
				<p>贵ICP备0265555号京公网安备859895998565995</p>
			</div>
		</div>
	</div>
</div>
<!--页面底部END-->

<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/widget/nav.js"></script>
</body>

</html>